$padding: 6px;

.root {
	padding: 0 $padding;
	border: 1px solid #333;
	border-spacing: 0 $padding;
	border-radius: 8px;
}

.labels {
	background: #333;
}

.label {
	padding: $padding 0;
	text-align: left;
	font-weight: 900;
	color: white;
	
	&:first-child {
		padding-left: 8px;
		border-radius: 4px 0 0 4px;
	}
	
	&:last-child {
		padding-right: $padding;
		border-radius: 0 4px 4px 0;
	}
}

.labelLabel {
	width: 100%;
}

.variableLabel {
	min-width: 100px;
	padding-left: 8px;
}

.add {
	$dimension: 30px;
	
	width: $dimension;
	height: $dimension;
	color: white;
	background: #1486e7;
	border-radius: 3px;
	transition: color 0.3s, background 0.3s, opacity 0.3s, transform 0.3s;
	
	&:disabled {
		opacity: 0.7;
	}
	
	&:not(:disabled):hover {
		color: #1486e7;
		background: white;
		transform: translateY(-2px);
	}
}
