@use 'variables' as *;

.root {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: calc(100vh - #{$navbar-height + $body-padding * 2});
	text-align: center;
	color: white;
}

.title {
	font-size: 80px;
	font-weight: 900;
}

.description {
	margin-top: 20px;
	font-size: 24px;
	font-weight: 900;
	opacity: 0.7;
}
