.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.name {
	margin-right: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: 900;
	color: white;
}
