.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.name {
	margin-right: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: 900;
	color: white;
}

.sectionLabel {
	margin: 20px 0;
	padding-bottom: 6px;
	font-weight: 900;
	color: white;
	border-bottom: 1px solid #333;
}

.about {
	color: white;
}

.aboutEmpty {
	color: transparentize(white, 0.5);
}
